pipeline/06_parameterization_running_total_windowing.json
{
	"name": "06_running_total_windowing",
	"properties": {
		"activities": [
			{
				"name": "GetStartId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select top 1 \n    [StartId] = cast ( min ( [Id] ) as nvarchar(50) ), \n    [EndId]   = cast ( max ( [Id] ) as nvarchar(50) )\nfrom [dbo].[dimTime] \nwhere \n    [Date1] >= @{pipeline().parameters.ParamDateStart} \n    and [Date1] <= @{pipeline().parameters.ParamDateEnd} \n    ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimtime_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set timeIdStart",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetStartId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "timeIdStart",
					"value": {
						"value": "@activity('GetStartId').output.firstRow.StartId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set timeIdEnd",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetStartId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "timeIdEnd",
					"value": "@activity('GetStartId').output.firstRow.EndId"
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set timeIdStart",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set timeIdEnd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_parameterized_extraction",
						"type": "DataFlowReference",
						"parameters": {
							"ParamTimeIdStart": {
								"value": "'@{variables('timeIdStart')}'",
								"type": "Expression"
							},
							"ParamTimeIdEnd": {
								"value": "'@{variables('timeIdEnd')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"ParamDateStart": {
				"type": "string",
				"defaultValue": "'2020-01-01'"
			},
			"ParamDateEnd": {
				"type": "string",
				"defaultValue": "'2020-06-30'"
			}
		},
		"variables": {
			"timeIdStart": {
				"type": "String",
				"defaultValue": "'-1'"
			},
			"timeIdEnd": {
				"type": "String",
				"defaultValue": "'-1'"
			}
		},
		"annotations": []
	}
}