pipeline/06_running_total_windowing.json
{
	"name": "06_running_total_windowing",
	"properties": {
		"activities": [
			{
				"name": "GetStartId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select top 1 \n    [StartId] = cast ( min ( [Id] ) as nvarchar(50) ), \n    [EndId]   = cast ( max ( [Id] ) as nvarchar(50) )\nfrom [dbo].[dimTime] \nwhere [Year] = @{pipeline().parameters.ParamYear}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimtime_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set timeIdStart",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetStartId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "timeIdStart",
					"value": {
						"value": "@activity('GetStartId').output.firstRow.StartId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set timeIdEnd",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetStartId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "timeIdEnd",
					"value": "@activity('GetStartId').output.firstRow.EndId"
				}
			}
		],
		"parameters": {
			"ParamYear": {
				"type": "string",
				"defaultValue": "2020"
			}
		},
		"variables": {
			"timeIdStart": {
				"type": "String",
				"defaultValue": "-1"
			},
			"timeIdEnd": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"annotations": []
	}
}