pipeline/09_until_loop.json
{
	"name": "09_until_loop",
	"properties": {
		"activities": [
			{
				"name": "Place Orders",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PlaceOrders]",
					"storedProcedureParameters": {
						"Customer": {
							"value": "'John'",
							"type": "String"
						},
						"TicketCount": {
							"value": "10",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSql_ClassroomDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set remaining  tickets",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Place Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "remainingTickets",
					"value": {
						"value": "@string(activity('Place Orders').output)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"remainingTickets": {
				"type": "String",
				"defaultValue": "'-1'"
			}
		},
		"annotations": []
	}
}