pipeline/10_until_loop_process_orders.json
{
	"name": "10_until_loop_process_orders",
	"properties": {
		"activities": [
			{
				"name": "Set remaining  tickets",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Process Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "remainingTickets",
					"value": {
						"value": "@string(activity('Process Orders').output.remaining_tickets)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set proceed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Process Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "proceed",
					"value": {
						"value": "@if(greaterOrEquals(int(activity('Process Orders').output[0]),1),true,false)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Process Orders",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[ProcessOrders]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ProcessOrders",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"remainingTickets": {
				"type": "String",
				"defaultValue": "'-1'"
			},
			"proceed": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"annotations": []
	}
}