pipeline/11_until_loop_main.json
{
	"name": "11_until_loop_main",
	"properties": {
		"activities": [
			{
				"name": "Place and process tickets until all tickets are sold",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('stopLoop')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Place Orders",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PlaceOrders]",
								"storedProcedureParameters": {
									"Customer": {
										"value": {
											"value": "@substring(guid(),0,5)",
											"type": "Expression"
										},
										"type": "String"
									},
									"TicketCount": {
										"value": {
											"value": "@rand(1,40)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzSql_ClassroomDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set stop loop",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Place Orders",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "stopLoop",
								"value": true
							}
						}
					],
					"timeout": "0.00:00:30"
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"orders": {
				"type": "Array",
				"defaultValue": [
					[
						"Paul",
						"20"
					],
					[
						"Judy",
						"35"
					]
				]
			},
			"stopLoop": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}